.container-cards {
  list-style: none;
  margin-top: 100px;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;

}

.productItem {
  display: flex;
  flex: column;
  border: 1.5px #b45e72 solid;
  justify-content: center;

}


@media (min-width: 768px) {
  .container-cards {
    grid-template-columns: repeat(4, 1fr);}
  .productItem {
  height:450px; }


}