* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 400px;
  outline: 1px #bb2649 solid;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80% 20%;
  row-gap: 1em;

}

.container img {
  max-width: 70%;
  max-height: 100vh;
  place-self: center;
  margin-top: 40px;
  margin-left: 10%;


}

.container h5 {
  margin-top: 30px;
  color: #bb2649;
}

.price {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.category {
  color: darkgray;
}

.container p {
  font-size: 90%
}

.container button {
  grid-column: 1/3;
  background-color: white;
  border: none;
  color: #bb2649;

}