/* Popup.css */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:white;
  padding: 20px;
  border: black;
  
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 400px;
  height: 380px;

}

.etiqueta {
  display: flex;
  justify-content: center;

}

.popup img {
  max-width: 130%;
  height: 70%;
  border: 4px;
 }


.text {
  width: 190%;}

.popup h6 {
  margin-top: 5%;
}
.price {
  display: flex;
  justify-content: space-between;
  /* gap: 58% ; */
  }

.popup p {

  font-size: 80%;
}

.popup button {
  padding: 5px 10px;
  color: rgba(248, 10, 10, 0.653);
  border: none;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
 display:block;
 border: 2px; 
  /* Añadido para centrar horizontalmente */
  
}