/* Estilos generales */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilos del overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

/* Estilos del popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Ancho ajustado para dispositivos móviles */
  max-width: 400px; /* Ancho máximo */
  background: white;
  padding: 20px;
  z-index: 1000;
  outline: 3px #b45e72 solid;
  
}
/* Media query para escritorio (ancho mínimo de 768px) */
@media screen and (min-width: 768px) {
  .popup {
    position: fixed;
  top: 40%;
  transform: translate(-50%, -50%);
  max-width: fit-content;
  outline: 3px #b45e72 solid;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:88% 10%;
  row-gap: 1em;
  background: white;
  padding: 15px;
  align-content: unset;
  z-index: 1000;
 }

  .popup img {
    max-height: 100%; /* Altura máxima ajustada para escritorio */
    margin-top: 7%; /* Espacio superior eliminado */
  }

  .popup h3,
  .subtitle,
  .category,
  .content {
    text-align: left; /* Alineado a la izquierda en escritorio */
  }

  .subtitle {
    margin-top: 5%; /* Ajustado el espacio superior */
    margin-bottom: 8%; /* Ajustado el espacio inferior */
  }

  .popup button {
    grid-column: 1/3; /* Ocupa dos columnas en escritorio */
    margin-top: 2%; /* Ajustado el espacio superior */
    margin-bottom: 2%; /* Ajustado el espacio inferior */
  }
}

.popup img {
  width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
  max-height: 260px; /* Altura máxima para controlar la proporción */
  object-fit:contain; /* Ajustar la imagen dentro del contenedor manteniendo la proporción */
}

.popup h3 {
  color: #bb2649;
  text-align: left;
  text-align: center;
}

.subtitle {
  font-size: 15px;
  margin-top: 5%;
  margin-bottom: 8%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-top:-7%;
  margin-bottom:2%;

}

.category {
  color: darkgray;
}

.content {
  font-size: 90%;
  margin-top: 2%;
}

.popup button {
  background-color: white;
  border: none;
  color: #bb2649;
  position: relative;
  margin-bottom: 2%;
}

  